body{
    font-family: 'Chicle', cursive; 
    background-color:lightskyblue;
}
button{
    font-family: 'Chicle', cursive;
    font-size: 50px;
    color: purple;
}
#add-animal{
    font-size: 50px;
}